*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}
body{background:#000;color:#fff}

/* AUTH */
.auth{min-height:100vh;display:flex;justify-content:center;align-items:center}
.card{width:360px;background:#121212;padding:25px;border-radius:10px}
.card h2{text-align:center;margin-bottom:20px}
.card input{width:100%;padding:12px;margin-bottom:10px;background:#1e1e1e;border:1px solid #333;color:#fff;border-radius:6px}
.btn{width:100%;padding:12px;background:linear-gradient(45deg,#fd1d1d,#fcb045);
